@import "tailwindcss";
@theme {
  --color-bg: hsl(0 0% 0%);
  --color-surface: hsl(0 0% 5%);
  --color-surface-2: hsl(0 0% 10%);
  --color-surface-hover: hsl(0 0% 12%);

  --color-border: hsl(0 0% 10%);

  --color-text-primary: hsl(0 0% 95%);
  --color-text-secondary: hsl(0 0% 75%);
}
